*~
*.o
indexer/global_descriptors/index_dataset
indexer/global_descriptors/join_indexes
indexer/local_descriptors/extract
indexer/local_descriptors/test_read
indexer/local_descriptors/test_extract
test_video_out.txt
test_video_out/
indexer/shot_detector/shot_detector
retriever/retrieve_on_dataset
bloom_filters/point_indexed/index_dataset